<ion-content class="bgClass">
  <div class="logoDiv">
    <img src="assets/imgs/icon.png" />
    <!-- <p style="letter-spacing: 2px; color: #0065b3; font-size: 1.3em; font-weight: thin;">STERLITE POWER</p> -->
  </div>
</ion-content>
<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" *ngIf="startText === 'LOGIN'">
  <ion-toolbar color="sterlite" (tap)="toggleFooter()" *ngIf="footerState == 0">
    <p align="center" style="color: white; font-size:18px; letter-spacing: 3px;">LOGIN</p>
  </ion-toolbar>
  <ion-content class="contentTwo">
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label color="light" floating>E-MAIL</ion-label>
        <!-- <ion-input type="text" formControlName="email" (keydown.space)="$event.preventDefault();"></ion-input> -->
        <ion-input type="text" formControlName="email"></ion-input>

      </ion-item>
      <ion-item>
        <ion-label color="light" floating>PASSWORD</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div style="text-align: center; padding-top: 25px;">
        <button ion-button class="buttonClass" [disabled]="!loginForm.valid || isUnchanged1" (tap)="logForm()">LOGIN</button>
        <!-- <button ion-button class="buttonClass" [disabled]="!loginForm.valid" (tap)="logForm()">LOGIN</button> -->
      </div>
      <div style="padding-top: 20px; text-align: center">
        <div class="btnClass" (tap)="signup()">Generate Password</div>
       
      </div>
    </form>
  </ion-content>
</ion-pullup>

<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState1">
  <!-- <ion-toolbar color="sterlite" (tap)="toggleFooter()" *ngIf="footerState == 0">
    <p align="center" style="color: white; font-size:18px; letter-spacing: 2px;">Generate Password</p>
  </ion-toolbar> -->
  <ion-content class="contentTwo">
    <form [formGroup]="signupForm" padding-top >
      <ion-item>
        <ion-label color="light" floating>E-MAIL</ion-label>
        <!-- <ion-input type="text" formControlName="email" (keydown.space)="$event.preventDefault();" required></ion-input> -->
        <ion-input type="text" formControlName="email" required></ion-input>

      </ion-item>
      <div style="text-align: center; padding-top: 25px;">
        <!-- <button ion-button class="buttonClass1" [disabled]="!signupForm.valid || isUnchanged" (tap)="doSignUp()">Generate Password</button> -->
        <button ion-button class="buttonClass1" [disabled]="!signupForm.valid || isUnchanged" (tap)="doSignUp()">Generate OTP</button>
      </div>
      <div style="padding-top: 20px; text-align: center">
        <div style="color: white; font-size: 15px; letter-spacing: 2px">Already logged in?
          <div class="btnClass" (tap)="login()">LOGIN</div>
        </div>
      </div>
    </form>

   
  </ion-content>
</ion-pullup>

