page-login {
    .bgClass{
        background: transparent;
        background-image: url("../assets/imgs/Index_background.png");
        background-size: cover;
    }

    .logoDiv{
        margin-top: 40%;
        text-align: center;
        img{
            width: 200px;
            height: 200px;
            // width: 130px;
            // height: 130px;
            // border-radius: 50%;
            // width:250px;
            // height:35px;
        }
    }

    .contentTwo {
        top:50%;
        height: 100%;
        background-color: #0065b3
    }

    .item-md, .item-ios{
        background: transparent;
        color: #fff;
        padding-right: 20px;
        padding-left: 20px;
    }

    .buttonClass {
        display: inline-block;
        background: #0065b3;
        padding: 13px 13.3rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        border-radius: 64px;
        border: 1px solid white;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        touch-action: pan-y;

      }

      .buttonClass1 {
        display: inline-block;
        background: #0065b3;
        padding: 13px 7rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        border-radius: 64px;
        border: 1px solid white;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        touch-action: pan-y;
      }

      .buttonClass:active {
        background-color: #0065b3;
        transform: translateY(4px);
      }
      .buttonClass1:active {
        background-color: #0065b3;
        transform: translateY(4px);
      }

      .btnClass{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        border-radius: 64px;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        background: transparent;
      }

      .btnClass:active {
        transform: translateY(4px);
      }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 0px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-ios.item-input.item-input-has-focus .item-inner,
    .item-ios.item-input.input-has-focus .item-inner {
        border-bottom-color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: #fff;
    }

    .item-input-has-focus .label-ios[stacked],
    .input-has-focus .label-ios[stacked],
    .item-input-has-focus .label-ios[floating],
    .input-has-focus .label-ios[floating] {
        color: #fff;
    }


    .otpBox{
        width:250px;margin:0 auto;padding: 20px;height:100px;margin-left: 84px;
    }


    #partitioned {
        padding-left: 15px;
        letter-spacing: 42px;
        border: 0;
        background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 220px;
        min-width:115px;
        background-color: #0065b3;
        color: white;
      }

      #divInner{
        left: 0;
        position: sticky;
      }

      #divOuter{
        width:190px;
        overflow:hidden
      }


}
