// page-ot-ppage {
//     .bgClass {
//         background: #0065b3;
//         //background-image: url(../assets/imgs/Index_background.png);
//         background-size: cover;
//         height: 100%;
//     }
//     .bgClass1{
//         background: #0065b3;
//         background-image: url(../assets/imgs/Index_background.png);
//         background-size: cover;
//     }

//     .logoDiv{
//         margin-top: 40%;
//         text-align: center;
//         img{
//             width: 200px;
//             height: 200px;
//             // width: 130px;
//             // height: 130px;
//             // border-radius: 50%;
//             // width:250px;
//             // height:35px;
//         }
//     }

//     .formcss {
//         position: relative;
//         left: 50%;
//         float: left;
//         clear: left;
//     }
    
//     .otpBox {
//         display: block;
//         float: left;
//         right: 40%;
//         position: relative;
//         height: 100px;
//         // width:250px;margin:0 auto;padding: 20px;height:100px;margin-left: 68px;
//     }
//     .buttonClass1 {
//         display: block;
//         float: left;
//         right: 50%;
//         position: relative;
//     }

//     #partitioned {
//         padding-left: 15px;
//         letter-spacing: 42px;
//         border: 0;
//         background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
//         background-position: bottom;
//         background-size: 50px 1px;
//         background-repeat: repeat-x;
//         background-position-x: 35px;
//         width: 220px;
//         min-width:220px;
//         background-color: #0065b3;
//         color: white;
//     }
      
//     #divInner{
//         left: 0;
//         position: sticky;
//     }
      
//     #divOuter{
//         width:190px; 
//         overflow:hidden
//     }
// }

page-ot-ppage {
    .bgClass {
    background: #0065b3;
    //background-image: url(../assets/imgs/Index_background.png);
    background-size: cover;
    height: 100%;
    }
    .bgClass1{
    background: #0065b3;
    background-image: url(../assets/imgs/Index_background.png);
    background-size: cover;
    }
    
    .logoDiv{
    margin-top: 40%;
    text-align: center;
    img{
    width: 200px;
    height: 200px;
    // width: 130px;
    // height: 130px;
    // border-radius: 50%;
    // width:250px;
    // height:35px;
    }
    }
    
    .formcss {
    position: relative;
    left: 50%;
    float: left;
    clear: left;
    }
    .otpBox {
    display: block;
    float: left;
    right: 40%;
    position: relative;
    height: 100px;
    // width:250px;margin:0 auto;padding: 20px;height:100px;margin-left: 68px;
    }
    .buttonClass1 {
    display: block;
    float: left;
    right: 50%;
    position: relative;
    }
    
    // #partitioned {
    // padding-left: 15px;
    // letter-spacing: 42px;
    // border: 0;
    // background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
    // background-position: bottom;
    // background-size: 50px 1px;
    // background-repeat: repeat-x;
    // background-position-x: 35px;
    // width: 220px;
    // min-width:220px;
    // background-color: #0065b3;
    // color: white;
    // border-bottom: 1px solid white;
    // }
    // #divInner{
    // left: 0;
    // position: sticky;
    // }
    // #divOuter{
    // width:190px; 
    // overflow:hidden
    // }
    
    // .otpBox{
    // width:250px;margin:0 auto;margin-top: 150px;padding: 20px;background: #f5f5f5;border: 1px solid #d4d4d4;height: 150px;
    // }
    
    #partitioned {
    padding-left: 18px;
    letter-spacing: 40px;
    border: 0;
    background-image: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 42px;
    width: 230px;
    min-width:230px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    }
    
    #divInner{
    left: 0;
    position: sticky;
    }
    
    #divOuter{
    width:210px; 
    overflow:hidden
    }
    
    input[type=number] {
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #000000;
    }
    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
}
