<ion-content class="bgClass1">
  <ion-row>
    <div class="logoDiv" style="margin-left: 22%">
      <img src="assets/imgs/icon.png" />
    </div>
  </ion-row>

  <ion-row class="bgClass">
    <form [formGroup]="OTPForm" class="formcss">

      <div class="otpBox">
        <h5 style="margin-top: 10%;color:white; ">Enter One Time Password</h5>
        <input id="codeBox1" type="number" maxlength="1" (keyup)="onKeyUpEvent(1, $event)" (onfocus)="onFocusEvent(1)"
          formControlName="otp1" />
        <input id="codeBox2" type="number" maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (onfocus)="onFocusEvent(2)"
          formControlName="otp2" />
        <input id="codeBox3" type="number" maxlength="1" (keyup)="onKeyUpEvent(3, $event)" (onfocus)="onFocusEvent(3)"
          formControlName="otp3" />
        <input id="codeBox4" type="number" maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (onfocus)="onFocusEvent(4)"
          formControlName="otp4" />
      </div>

      <div style="text-align: center; padding-top: 25px;margin-left: 16%; ">
        <button ion-button class="buttonClass1 " [disabled]="!OTPForm.valid || isUnchanged" (tap)="doSignUpOtPS()">Validate</button>
      </div>
      <div style="padding-top: 20px; text-align: center">
        <div style="color: white; font-size: 15px; letter-spacing: 2px; display: block; float: left; right: 50%; position: relative; height: 100px;margin-top: 8%;">
          Already Signed-Up?
        </div>
        <div class="buttonClass1" style="color: white; font-size: 15px;margin-top: 8%; letter-spacing: 2px;" (tap)="login2()">&nbsp;
          LOGIN</div>
      </div>
    </form>
  </ion-row>
</ion-content>


